.main-container{
    display: flex;
    justify-content: flex-start;
    padding-top: 5rem;
    align-items: center;
    height: 95vh;
    width: 100%;
    flex-direction: column;
}
.main-container img{
    width: 100%;
    max-width: 250px;
}

.main-container h1{
    margin-top: 4rem;
}


@media (prefers-reduced-motion: no-preference) {
    .fade_in_out_anime {
        animation-name: wipe-enter_interval;
        animation-duration: 1.2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-direction: alternate-reverse;
    }

}


@keyframes wipe-enter_interval {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}